body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
    background-color: #f5f5f5;
}
form {
    background-color: aqua;
    padding: 20px;
    border-radius: 7px;
    display: inline-block;
    box-shadow: 0;
}

#result {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    color: #2c3e50;
}